<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Acerca de
    </ion-title>
  </ion-toolbar>
 </ion-header>
 
 <ion-content color ="danger" padding>
 
    <h3>Agenda Electrónica</h3>
 
     <p>
     
        Aplicación diseñada para la asignatura DSI que permite organizar tareas pendientes y contactos.
  
    </p>
     <p>
         La aplicación esta realizada utilizando Ionic Framework.
     </p>
      
      <br>
       <h4>Francisco Mira González</h4>
        <ion-item>
          <ion-icon name="logo-github"></ion-icon>
          <a href="">franmira98</a>
        </ion-item>
         <ion-item>
            <ion-icon name="logo-twitter"></ion-icon>
            <a href="">francisco_mira</a>
          </ion-item>
          
 </ion-content>